@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* RESET 2022 */
html{
	font-size:62.5%;
	scroll-behavior:smooth;
}
body{
	font: 1.6rem 'Montserrat' , sans-serif;
	margin:0;
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	color:#000;
	text-decoration:none;
}
*{ 
	box-sizing:border-box;
	color-scheme: light dark;
}
button{
	padding:0;
	border:0;
	background-color:transparent;
} 
img{
	display: inline-block;
	width: 100%;
	object-fit: cover;
}
/*HEADER */
header{
	text-align: center;
	padding: 1.5rem;
	background-color: #111;
}

/* MAIN */
main{
	display: block;
	margin: 0 auto;
	padding: 2rem;
}
main .row{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	width: auto;
}
main section{
	max-width: 70rem;
	display: block;
	border: solid .2rem #fff;
	padding: 1rem;
	margin: 1rem auto;
	border-radius: .75rem;
}
main section h2{
	text-align: center;
	font-size: 3rem;
	padding: .5rem;
}
main section img{
	margin: 0rem auto;
	min-width: 40rem;
	max-height: 40rem;
	object-fit: contain;
	border-radius: .5rem;
}
main section h2 .date{
	display: inline-block;
	margin: 2rem auto;
	border-radius: .5rem;
	background-color: rgb(255, 255, 255);
	color: #000;
	vertical-align: middle;
	font-size: 2.5rem;
	width: 10rem;
	
	text-align: center;
}



/* FOOTER */
footer{
	text-align: center;
	padding: 2rem;
}


/* @Copyright - PhilDaiguille*/